*.rej
*.orig
*.swp
*.save*
*.o
*.a
*.so
*.so.*
*.exe
*.lib
*.dll
*.lo
*.la
*.log
.deps
.dirstamp
.libs
*.patch
Makefile
config.h
config.status
examples/dict
examples/lzopack
examples/overlap
examples/precomp
examples/precomp2
examples/simple
libtool
lzo2.pc
lzotest/lzotest
minilzo/testmini
stamp-h1
tests/align
tests/chksum
tests/promote
tests/sizes
CMakeCache.txt
CMakeFiles/
